<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">
<head>
    {{- partial "head/head.html" . }}
</head>

<body id="top" class="body">    
    {{- partialCached "body/header.html" . .Page -}}
    <div class="container">
        {{- partialCached "body/navigation" . }}
        <div>
            <main class="main">
                {{- block "main" . }}{{ end }}
            </main>
        </div>
        
    </div>
    {{ partialCached "body/footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
